html{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {

	width: 800px;
}

.index-bg{
	background-image: url("../image/pastel-bg.jpeg");
}

.IV-bg{
	background-image: url("../image/background.png");
	background-repeat: repeat;
}

.MRI-bg{
	background-image: url("../image/background.png");
	background-repeat: repeat;
}

.breathing-bg {
	background-image: url("../image/background.png");
	background-repeat: repeat;
}


#Games{
	padding-top: 450px;
}


.coping img{
	float: left;
	margin-top: -170px;
	margin-left: 800px;
}

/*X-Ray MAKI*/

#demo-container{
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
}

/*
lg-container (the looking glass container) will fill its parent container unless specified otherwise.
*/

#my-container{
	position: relative;
	width:100%;
	height: 600px;
	margin: 150px auto;
	overflow: hidden;

}

#lg-bottom-image{
	border-width: 10px;
	border-style: solid;
}


/*Breathing game*/
#heart {

	width: 199px; 
	height: 89px; 
	background: #fff200; 
	margin-top: 120px;
	margin-left: 510px;
}

#hose {
	position: absolute;
	width: 1280px;
	height: 800px;
	margin-top: 0px;
	margin-left: 0px;
}

/* http://www.the-art-of-web.com/css/css-animation/ */
div.inflatebutton div {
	position: absolute;
	width: 369px;
	height: 268px;
	margin-top: 480px;
	margin-left: 435px;
	background: url("../image/button.png") no-repeat;
}

#balloon {
	position: absolute;
	width: 565px;
	height: 483px;
	margin-top: 70px;
	margin-left: 340px;
	background: url("../image/balloon.png") no-repeat;
	
	-webkit-transition: 1s scale(2,2);
    -moz-transition: 1s scale(2,2);
    -o-transition: 1s scale(2,2);
    transition: 1s scale(2,2);
}

#inflatebutton:hover + #balloon{
	-webkit-transform: scale(2,2);
    -moz-transform: scale(2,2);
    -o-transform: scale(2,2);
    -ms-transform: scale(2,2);
    transform: scale(2,2);
    left: calc(100% - 340px);
	
}

/* this needs to be change to an image instead of a shape + the way to expand an image*/
#lung1
{
	background:red;
	border-radius:500px;
	height:200px;
	width:200px;
	left: 750px;
	position: absolute;
	top: 250px;

	transition:     width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -moz-transition:    width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -ms-transition:     width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -o-transition:      width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -webkit-transition: width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
}

#lung2
{
	background:red;
	border-radius:500px;
	height:200px;
	width:200px;
	left: 350px;
	position: absolute;
	top: 250px;

	transition:     width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -moz-transition:    width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -ms-transition:     width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -o-transition:      width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -webkit-transition: width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
}

#heart:active #lung1{

	border-radius:1000px;
	height:400px;
	width:400px;
	left: 750px;
	top: 250px;
	
}

#heart:active #lung2{

	border-radius:1000px;
	height:400px;
	left: 250px;
	top: 250px;
	width:400px;
} 

/*######################## finish button #############################*/
#next{
	position: absolute;
	width: 268px;
	height: 194px;
	margin-top: 570px;
	margin-left: 1040px;
}
